.blockCalc{

    display: flex;
    justify-content: center;
    padding-top: 100px;

}
.calculate{

    max-width:700px;
    height: 900px;
    background-color: chartreuse;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}
.textCalc{
    font-size: 25px;
    color: black;
}
h5{
    font-size: 20px;
    color: black;
}
button{
    max-width: 200px;
    height: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;

}
.btns{
    margin-bottom: 20px; ;
}
input{
    max-width: 200px;
    height: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    text-align: center;
}